body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.body {
    background-image: url('./img/backgound1.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 45%;
}

#galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.pokemon-info {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: #f4f4f4;
    text-transform: uppercase;
    font-size: 200%;
    font-weight: bold;
    
}

.pokemon-info img {
    max-width: 20rem;
    height: auto;
}

.pokemon-info h3 {
    text-transform: capitalize;
}
#nav_menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-inline: 1rem;
    gap: .5rem;
    font-size: 150%;
    font-weight: bold;
}
.btn {
    padding: .5rem;
    border-radius: 100vmax;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0 0 1rem black;
    transition: .2s;
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 1rem black;
}
